@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Newsreader:opsz@6..72&display=swap");

.container {
	font-size: 16px;
	font-family: "Newsreader", serif;
}

.personalName {
	position: absolute;
	font-size: max(2.5vw, 16px);

	top: clamp(4rem, 5vw, 5.5rem);
	left: clamp(1.5rem, 3vw, 3rem);
}

.socials {
	position: absolute;

	bottom: clamp(4rem, 5vw, 5.5rem);
	right: clamp(4rem, 9vw, 10rem);
}

.role {
	font-size: clamp(1rem, 2vw, 2rem);
}

h2 {
	padding: 0;
	margin: 0 0 0.05em 0;
	font-weight: 400;
	font-size: clamp(1rem, 8vw, 2rem);

	line-height: 0.85em;
	font-family: "Abril Fatface", cursive;
}
.credits {
	padding-top: max(75vh, 15vh);
	padding-right: max(5vw, 6.5rem);
	font-size: clamp(1rem, 1.5vw, 2rem);

	display: flex;
	justify-content: center;
}

.tutorial {
	position: absolute;
	font-size: clamp(1rem, 1.5vw, 2rem);
	top: clamp(4rem, 5vw, 5.5rem);
	right: clamp(4rem, 9vw, 10rem);
}

.hint {
	font-size: clamp(1rem, 2.5vw, 2rem);
}
