.container {
	font-size: 16px;
}

.personalName {
	position: absolute;
	font-size: clamp(1.6rem, 3.2vw, 4rem);

	top: clamp(4rem, 5vw, 5.5rem);
	left: clamp(1rem, 3vw, 2.5rem);
}

.role {
	font-size: clamp(1rem, 1.8vw, 2.5rem) !important;
}
.socials {
	position: absolute;
	bottom: clamp(2rem, 5.5vw, 8rem);
	right: clamp(4rem, 9.5vw, 12rem);
}

.role {
	font-size: clamp(1rem, 2vw, 2rem);
}

h2 {
	padding: 0;
	margin: 0 0 0.05em 0;
	font-weight: 900 !important;
	/* font-size: clamp(1rem, 10vw, 10rem); */

	line-height: 0.85em;
}
.credits {
	padding-top: 80vh;
	padding-right: clamp(4.2rem, 4vw, 6.5rem);
	font-size: clamp(1rem, 1.5vw, 2rem);
}

.tutorial {
	position: absolute;
	font-size: clamp(1rem, 1.5vw, 2rem);
	top: clamp(4rem, 5vw, 5.5rem);
	right: clamp(4rem, 8vw, 10rem);
}

.hint {
	font-size: clamp(1rem, 2.5vw, 2rem);
}
