.first-section {
	position: relative;
	margin: 0;
	width: 40vw;
	/* height: calc(1.5 * 100vh);
	padding-top: 50vh; */
	margin-top: calc(13.3 * 100vh);
	/* padding: calc(50vh); */
	/* background-color: rgb(212, 228, 189); */
	background-color: rgb(70, 123, 63);
}

.left {
	margin-right: auto;
	border-top-right-radius: 700px 700px;
	border-bottom-right-radius: 0px 0px;
}

.right {
	margin-left: auto;
	border-top-left-radius: 700px 700px;
	border-bottom-left-radius: 0px 0px;
}

/* Progress bars */
.progress-wrapper {
	height: 0;
	width: 12px;
	z-index: 9999;
}

.progress-bar-wrapper-left {
	position: absolute;
	top: 0;
	left: 0;
}

.progress-bar-wrapper-right {
	position: absolute;
	top: 0;
	right: 0;
}

.progress-bar {
	height: 100vh;
	width: 100%;
	background-color: var(--color-pink);
	transform-origin: top center;
	transform: scaleY(1);
}

.sectionsClass {
	margin-top: calc(13 * 100vh);
}

.blurableScreen {
	height: calc(100vh) !important;
	width: calc(100vw) !important;
}
