@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
	/* position: fixed; */
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: rgb(220, 212, 241);
	background: linear-gradient(
		0deg,
		rgba(28, 152, 247, 1) 0%,
		rgba(142, 203, 250, 1) 50%,
		rgba(220, 212, 241, 1) 100%
	);
}
