@import url("https://fonts.googleapis.com/css2?family=Habibi&family=Prompt&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
	width: 100dvw;
	height: 100dvh;
	min-height: 100dvh;
	overflow: hidden;
	/* background-image: url(/static/asd1.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover; */
	background-color: rgb(213, 204, 220);
	color: #ffffff;
	font-family: "Habibi", serif !important;
	font-family: "Prompt", sans-serif !important;
}
